cinderbox_motions	2
# Baked from the CbMotion nodes of a CbMotionSet. Edit the scene and bake again.
motion	Throw
when	press	throw
cooldown	1.2
launch	grenade.shell	17	look	3	0.8	4
emit	grenade.thrown
